---
import Layout from '../../layouts/Layout.astro';
import ContentPageLayout from '../../layouts/ContentPageLayout.astro';
import { getEntry } from 'astro:content';
const introduction = await getEntry('getting-started', 'introduction');
const vanillaJSToggle = await getEntry('getting-started', 'vanilla-js-toggle');
const reactToggle = await getEntry('getting-started', 'react-toggle');
const angularToggle = await getEntry('getting-started', 'angular-toggle');
const { Content : Content1 } = await introduction.render();
const { Content : VanillaJsToggle } = await vanillaJSToggle.render();
const { Content : ReactToggle } = await reactToggle.render();
const { Content : AngularToggle } = await angularToggle.render();

const sectionLinks= [
  { label: 'Introduction', link: "#introduction" },
  { label: 'Installation', link: "#installation" },
  { label: 'Create Your First Reactable', link: "#create-your-first-reactable" },
  { label: 'Bind to the View', link: "#bind-to-the-view" },
]
---
<Layout title="Reactables - Introduction">
  <ContentPageLayout sectionLinks={sectionLinks}>
    <h1 id="introduction">Introduction</h1>
    <div class="mb-4">
      <img class="d-md-none img-fluid"src="/WhatToUse.jpg" alt="WhatToUseMobile" />
      <img class="d-none d-md-inline img-fluid" src="https://github.com/reactables/reactables/blob/main/documentation/SlideNineStandardPattern.jpg?raw=true" alt="WhatToUseDesktop" />
    </div>
    <Content1 />
    <h2 id="bind-to-the-view">Bind to the view!</h2>
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a href="#react-toggle" class="nav-link active" data-bs-toggle="tab">
            <img src="/React.png" width="50" title="React Toggle"/>
          </a>
      </li>
      <li class="nav-item">
          <a href="#angular-toggle" class="nav-link" data-bs-toggle="tab">
            <img src="/angular.png" width="50" title="Angular Toggle"/>
          </a>
      </li>
      <li class="nav-item">
          <a href="#vanilla-js-toggle" class="nav-link" data-bs-toggle="tab">
            <img src="/VanillaJS.jpg" width="50" title="VanillaJS Toggle" />
          </a>
      </li>
    </ul>
    <div class="tab-content pt-3">
      <div class="tab-pane fade show active" id="react-toggle">
        <ReactToggle />
      </div>
      <div class="tab-pane fade" id="angular-toggle">
        <AngularToggle />
      </div>
      <div class="tab-pane fade" id="vanilla-js-toggle">
        <VanillaJsToggle />
      </div>
    </div>
  </ContentPageLayout>
</Layout>
<style lang="scss">
  img[alt=WhatToUseDesktop] {
    @media screen and (min-width: 1000px) {
      max-width: 700px;
    }
  }
</style>