---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Reactables - Home">
	<main>
		<h1>Reactables!</h1>
		<i class="fa fa-times"></i>
		<button class="btn btn-primary">button</button>
	</main>
</Layout>

<style lang="scss">
</style>
