---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Reactables - Home" showDesktopNav={false} hideHamburger showGetStartedBtn>
	<div class="home-page">
		<section class="hero">
			<div class="container">
				<img class="hero__logo mb-3" src="/reactables/white-transparent.png" />
				<h1>Reactables</h1>
				<p class="hero__description">A reactive, flexible and extensible state management solution</p>

				<a href="/reactables/getting-started/introduction">
					<button class="btn btn-lg btn-outline-primary">Get Started</button>
				</a>
			</div>
		</section>
		<section class="features">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-3 features__item">
						<img class="features__icon" src="/reactables/rxjs-logo-black-white.png" />
						<h4>Reactive</h4>
						<div>
							<p>Data flow is <strong>uni-directional</strong> through reactive streams making state changes <strong>highly predictable</strong>.</p>
							<p>Reactive is declarative - means more time to <strong>focus on what</strong> you want to achieve in your buisness logic and <strong>save time on how</strong> it is implemented.</p>
						</div>
					</div>
					<div class="col-12 col-lg-3 features__item">
						<img class="features__icon" src="/reactables/flexible.png" />
						<h4>Flexible</h4>
						<div>
							<p>Reactables can manage both persisting global <strong>application state</strong> and local <strong>ephemeral state</strong> such as forms.</p>
							<p>It is also framework agnostic and can work with any UI layer.</p>
						</div>
					</div>
					<div class="col-12 col-lg-3 features__item">
						<img class="features__icon" src="/reactables/testing.png" />
						<h4>Testability</h4>
						<div>
							<p>Reactables are <strong>decoupled from the UI layer</strong> so they can be developed and <strong>unit tested</strong> without the need to render any components.</p>
						</div>
					</div>
					<div class="col-12 col-lg-3 features__item">
						<img class="features__icon" src="/reactables/form.png" />
						<h4>Forms</h4>
						<div>
							<p>Reactables can be extended to manage complex form states.</p>
							<p>Try <strong><a href="/reactables/guides/forms">Reactable Forms Library</a></strong> which includes:</p>
							<ul>
								<li><a href="/reactables/guides/forms#validation-example">form validation</a></li>
								<li><a href="/reactables/guides/forms#normalizing-values">input normalization</a></li>
								<li><a href="/reactables/guides/forms#custom-reducers">custom form behaviours</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
</div>
</Layout>

<style lang="scss">
	.hero {
		color: #fff;
		text-align: center;
		padding-top: 6.5rem;
		padding-bottom: 6.5rem;
		background-color: #4188d1;

		&__logo {
			width: 100px;
		}

		&__description {
			font-size: 1.25rem;
		}
	}
	.features {
		h4 {
			text-align: center;
		}

		&__icon {
			width: 100px;
		}

		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 2rem;
			padding-bottom: 2rem;

			@media screen and (min-width: 992px) {
				padding-top: 4rem;
				padding-bottom: 4rem;
			}

			img {
				margin-bottom: 1rem
			}
		}
	}
</style>
