---
const year = new Date().getFullYear();
---
<footer class="footer">
  <a href="/reactables/">
    <img class="footer__logo mb-3" src="/reactables/white-transparent.png" />
  </a>
  <p>Copyright 2023 - {year} <a href="https://dave-lai.com" target="_blank" rel="noreferrer">Dave Lai</a> and the Reactables documentation contributors.</p>
</footer>
<style lang="scss">
  .footer {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
		background-color: #4188d1;
    padding: 2rem 1rem;
    text-align: center;

    a{
      color: #fff;
    }

    &__logo {
      width: 50px;
    }
  }
</style>