---
import { getEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import ContentPageLayout from '../../layouts/ContentPageLayout.astro';

const basicToggle = await getEntry('guides', 'examples/basic-toggle/basic-toggle');
const { Content : BasicToggle } = await basicToggle.render();
const vanillaJSToggle = await getEntry('getting-started', 'vanilla-js-toggle');
const reactToggle = await getEntry('getting-started', 'react-toggle');
const { Content : VanillaJsToggle } = await vanillaJSToggle.render();
const { Content : ReactToggle } = await reactToggle.render();

const debugging = await getEntry('guides', 'examples/debugging');
const { Content : Debugging } = await debugging.render();

const fetchData = await getEntry('guides', 'examples/fetch-data/fetch-data');
const { Content : FetchData } = await fetchData.render();

const actionsOnComponentMount = await getEntry('guides', 'examples/actions-on-component-mount');
const { Content : ActionsOnComponentMount } = await actionsOnComponentMount.render();

const reactFetchData = await getEntry('guides', 'examples/fetch-data/react-fetch-data');
const { Content : ReactFetchData } = await reactFetchData.render();

const reactableComposition = await getEntry('guides', 'examples/reactable-composition/reactable-composition');
const { Content : ReactableComposition } = await reactableComposition.render();

const reactReactableComposition = await getEntry('guides', 'examples/reactable-composition/react-reactable-composition');
const { Content : ReactReactableComposition } = await reactReactableComposition.render();

const reactableCommunication = await getEntry('guides', 'examples/communication/communication');
const { Content : ReactableCommunication } = await reactableCommunication.render();

const reactReactableCommunication = await getEntry('guides', 'examples/communication/react-communication');
const { Content : ReactReactableCommunication } = await reactReactableCommunication.render();

const globalState = await getEntry('guides', 'examples/global-state');
const { Content : GlobalState } = await globalState.render();

const sectionsLinks = [
  { label: 'Basic Toggle', link: "#basic-toggle"},
  { label: 'Fetching Data with an Effect', link: "#fetching-data"},
  { label: 'Actions On Mount', link: "#actions-on-mount"},
  { label: 'Composition with Reactables', link: "#reactable-composition"},
  { label: 'Communication between Reactables', link: "#communication-between-reactables"},
  { label: 'Global State with Reactables', link: "#global-state-with-reactables"},
  { label: 'Debugging', link: "#debugging"},
]
---

<Layout title="Reactables - Examples">
  <ContentPageLayout sectionLinks={sectionsLinks}
    prevLink={{label: 'Core Concepts', link: '/getting-started/core-concepts'}}
    nextLink={{label: 'Forms', link: '/guides/forms'}}
  >
    <h1>Examples</h1>

    <!-- Basic Toggle -->
    <BasicToggle />
    <h5>Bind RxToggle to View</h5>
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a href="#react-toggle" class="nav-link active" data-bs-toggle="tab">
            <img src="/reactables/React.png" width="50" title="React Toggle"/>
          </a>
      </li>
      <li class="nav-item">
          <a href="#vanilla-js-toggle" class="nav-link" data-bs-toggle="tab">
            <img src="/reactables/VanillaJS.jpg" width="50" title="VanillaJS Toggle" />
          </a>
      </li>
    </ul>
    <div class="tab-content pt-3">
      <div class="tab-pane fade show active" id="react-toggle">
        <a class="edit-snippet" href="https://github.com/reactables/reactables/edit/main/docs/src/content/getting-started/react-toggle.md" target="_blank" rel="noreferrer">
          Edit this snippet <i class="fa fa-edit"/>
        </a>
        <ReactToggle />
      </div>
      <div class="tab-pane fade" id="vanilla-js-toggle">
        <a class="edit-snippet" href="https://github.com/reactables/reactables/edit/main/docs/src/content/getting-started/vanilla-js-toggle.md" target="_blank" rel="noreferrer">
          Edit this snippet <i class="fa fa-edit"/>
        </a>
        <VanillaJsToggle />
      </div>
    </div>

    <br />

    <!-- Fetching Data -->
    <FetchData />
    <h5>Bind RxFetchData to View</h5>
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a href="#react-fetch-data" class="nav-link active" data-bs-toggle="tab">
            <img src="/reactables/React.png" width="50" title="React Fetch Data"/>
          </a>
      </li>
    </ul>
    <div class="tab-content pt-3">
      <div class="tab-pane fade show active" id="react-fetch-data">
        <a class="edit-snippet pt-3 pe-4" href="https://github.com/reactables/reactables/edit/main/docs/src/content/guides/examples/fetch-data/react-fetch-data.md" target="_blank" rel="noreferrer">
          Edit this snippet <i class="fa fa-edit"></i>
        </a>
        <ReactFetchData />
      </div>
    </div>

    <br />

    <!-- Actions On Component Mount -->
     <ActionsOnComponentMount />

    <br />

    <!-- Composition with Reactables -->
    <ReactableComposition />

    <h5>Bind RxHotelSearch to View</h5>
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a href="#react-reactable-composition" class="nav-link active" data-bs-toggle="tab">
            <img src="/reactables/React.png" width="50" title="React Reactable Composition"/>
          </a>
      </li>
    </ul>
    <div class="tab-content pt-3">
      <div class="tab-pane fade show active" id="react-reactable-composition">
        <a class="edit-snippet pt-3 pe-4" href="https://github.com/reactables/reactables/edit/main/docs/src/content/guides/examples/reactable-composition/react-reactable-composition.md" target="_blank" rel="noreferrer">
          Edit this snippet <i class="fa fa-edit"></i>
        </a>
        <ReactReactableComposition />
      </div>
    </div>

    <br />

    <!-- Communication between Reactables -->
    <ReactableCommunication />
    <h5>Bind RxToggleCounter to View</h5>
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a href="#react-communication" class="nav-link active" data-bs-toggle="tab">
            <img src="/reactables/React.png" width="50" title="React Communication"/>
          </a>
      </li>
    </ul>
    <div class="tab-content pt-3">
      <div class="tab-pane fade show active" id="react-communication">
        <a class="edit-snippet pt-3 pe-4" href="https://github.com/reactables/reactables/edit/main/docs/src/content/guides/examples/communication/react-communication.md" target="_blank" rel="noreferrer">
          Edit this snippet <i class="fa fa-edit"></i>
        </a>
        <ReactReactableCommunication />
      </div>
    </div>

    <br />

    <GlobalState />

    <Debugging />

  </ContentPageLayout>

</Layout>
