---
import Layout from "../../layouts/Layout.astro"
import ContentPageLayout from "../../layouts/ContentPageLayout.astro"
import { getEntry } from "astro:content";

const forms = await getEntry('guides', 'forms/forms');
const { Content } = await forms.render();

const basicFormGroup = await getEntry('guides', 'forms/examples/basic-form-group/basic-form-group');
const { Content: BasicFormGroup  } = await basicFormGroup.render();

const reactBasicFormGroup = await getEntry('guides', 'forms/examples/basic-form-group/react-basic-form-group');
const { Content: ReactBasicFormGroup  } = await reactBasicFormGroup.render();

const vanillaJsBasicFormGroup = await getEntry('guides', 'forms/examples/basic-form-group/vanilla-js-basic-form-group');
const { Content: VanillaJSBasicFormGroup  } = await vanillaJsBasicFormGroup.render();

const sectionLinks: { label: string, link: string}[] = [
  { label: 'Installation', link: '#installation'},
    { label: 'Basic Form Group', link: '#basic-form-group' },
    { label: 'Validation', link: '#validation-example' },
    { label: 'Async Validation', link: '#async-validation-example' },
    { label: 'Normalizing Values', link: '#normalizing-values' },
    { label: 'Custom Reducer', link: '#custom-reducer-example' },
];
---

<Layout title="Reactables - Forms">
  <ContentPageLayout sectionLinks={sectionLinks}>
    <Content />
    <BasicFormGroup />
    <h5>Bind RxBasicFormGroup to View</h5>
    <ul class="nav nav-tabs">
      <li class="nav-item">
          <a href="#react-basic-form-group" class="nav-link active" data-bs-toggle="tab">
            <img src="/React.png" width="50" title="React Basic Form Group"/>
          </a>
      </li>
      <li class="nav-item">
          <a href="#vanilla-js-basic-form-group" class="nav-link" data-bs-toggle="tab">
            <img src="/VanillaJS.jpg" width="50" title="Basic Form Group VanillaJS" />
          </a>
      </li>
    </ul>
    <div class="tab-content pt-3">
      <div class="tab-pane fade show active" id="react-basic-form-group">
        <ReactBasicFormGroup />
      </div>
      <div class="tab-pane fade" id="vanilla-js-basic-form-group">
        <VanillaJSBasicFormGroup />
      </div>
    </div>

    <br />
  </ContentPageLayout>
</Layout>
